
@font-face {
  font-family: "MuseoSans";
  src: url('../font/museo-sans-300-webfont.eot');
  src: url('../font/museo-sans-300-webfont.eot?#iefix') format('eot'), url('../font/museo-sans-300-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    background-color: #F5F5F5; /*CDE9CA #CBE86B*/
    font-family: 'FontAwesome', sans-serif;
}

/*
    END OVERRIDES
*/
.partners {
    background: whiteSmoke;
    padding: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    text-align: center;
}

.partners img {
    margin: 10px;
}

.social {
    padding-bottom: 0px;
    padding-top: 5px;
}

.pagetitle {
    margin-top: 60px;
    margin-bottom: 20px;
}

footer {
    background: #F1F1F1;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid #EEE;
    margin-bottom: 15px;
    margin-top: 20px;
}

.carousel img {
    max-width: 100%;
}